body {
    margin: 60px auto;
    width: 70%;
	background-color: #9fbfdf;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
	color: #333;
}
.current {
	color: #666;
}
a {
    text-decoration: none;
    color: #f2f2f2;
}
a:hover {
    text-decoration: underline;
}
#darka a {
	color: #333;
	font-size: 1em;
	font-weight: bold;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
object {
	width: 80%;
	margin: 0 auto;
}
footer {
    border-top: 2px solid #f2f2f2;
    font-size: 0.9em;
}
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
ul li {
    list-style: none;
}
table {
	table-layout: fixed;
}
td {
	height: 100px;
	width: 100px;
	white-space: nowrap;
}
table img {
    height: 100px;
    width: 100px;
    max-width: 100px;
    margin-right: 5vw;
}
.portfoliolink {
	vertical-align: middle;
}
